:root {
	--clr-white: #fff;
	--border-radius: 0.5rem;
	--light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  	--dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  	--max-width: 1170px;
  	--fixed-width: 620px;
}

*,
::after,
::before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	background: #fff;
}
main {
  min-height: 100vh;
  display: grid;
  place-items: center;
}
.container {
	max-width: var(--max-width);
	width: 90vw;
	margin: auto;
}
.container h1 {
	margin: 2rem 0;
}
.title {
	background: #636362;
	display: inline-block;
	border: none;
	margin-left: 0;
	padding: 10px;
	color: white;
	border-top-right-radius: var(--border-radius);
	border-top-left-radius: var(--border-radius);
}
.title:hover {

}
.converter {
	background: #f7ede9;
	padding: 20px;
	border-radius: var(--border-radius);
	border-top-left-radius: 0;

}

.output {
	margin-top: 50px;
	background: #f7ede9;
	padding: 20px;
	border-radius: var(--border-radius); 
	visibility: hidden;
}

.active {
	background: #f06502;
}
.active:hover {
	background: #ed7e2f;
}

.ftToCm {
	display: block;

}
.cmToFt {
	display: none;
}